#{extends 'main.html' /}
#{set title:'Cadastro de Condutores' /}


<h1><strong>Cadastro de Condutor</strong></h1>

<form action="@{Condutores.salvar}" method="post">
	<strong>Nome:</strong>
	<input class="form-control" type="text" placeholder="Nome completo" aria-label="input"
		name="condutorObj.nomeCondutor">
		<span class='vermelho'>#{error 'condutorObj.nomeCondutor' /}</span>


	<strong>Login:</strong>
	<input class="form-control" type="text" placeholder="Username" aria-label="input" name="condutorObj.login">
	<span class='vermelho'>#{error 'condutorObj.login' /}</span>

	<strong>Senha:</strong>
	<input class="form-control" type="password" placeholder="Senha" aria-label="input" name="condutorObj.senha">
	<span class='vermelho'>#{error 'condutorObj.senha' /}</span>


	<strong>Email:</strong>
	<input class="form-control" type="text" placeholder="exemplo@.com" aria-label="input"
		name="condutorObj.emailCondutor">
		<span class='vermelho'>#{error 'condutorObj.emailCondutor' /}</span>

	<strong>Contato:</strong>
	<input class="form-control" type="text" placeholder="(DDD)9XXXX-YYYY" aria-label="input"
		name="condutorObj.contatoCondutor">
		<span class='vermelho'>#{error 'condutorObj.contatoCondutor' /}</span>
	<br>
	<div class="mb-3">
		<input type="submit" class="btn btn-success">
		<href="@{Condutores.salvar}"></input>
	</div>
	
	<a class="btn btn-secondary" href="@{Checklists.formulario}" class="btn btn-second">Voltar</a>
	

</form>